.top{
  /*background-image: url(../../../assets/download.jpg);*/
  background-color: cornflowerblue;
  width: 100%;
  height:200px;
}
/*.a{*/
  /*width: 100%;*/
  /*height: 100px;*/
  /*background-color: chocolate;*/
/*}*/
.top-inner{
  margin-left: 500px;
}

.no-border{   /* to finish border and combine color of input box and panel footer*/
  border: none;
  box-shadow: none;
  background-color: white;
}
.panel-footer{
  background-color: white;
}
.container{
  margin-top: 40px;
}
.footsetting{        /*Upcomming Panel Settings*/
  height: 50px;
}
