<div class="container top">Amraiz</div>

<div class="navbar navbar-default">
  <div class="container-fluid top-inner">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Current</a></li>
      <li><a routerLink="../student-enrolled">Enrolled</a></li>
    </ul>
  </div>
</div>

<div class="a">Raja</div>


<div class="container">
  <div class="col-lg-3">
    <div class="panel-group">
      <div class="panel panel-primary">
        <div class="panel-heading">Heading(Upcomming)</div>
        <div class="panel-body"><input type="text"></div>
        <div class="panel-footer footsetting">
          <button type="submit" class="btn-primary btn-sm" style="float: right">
            Upload
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div *ngFor="let lecdata of lecdata" class="panel-group">
      <div class="panel panel-primary">
        <div class="panel-heading">this{{lecdata.title}} <!-- recieved data by service -->
          <div class="m" style="float: right">this{{currentTime}}</div>
        </div> <!-- recieved data by service -->
        <div class="panel-body">
          <input type="text" class="form-control no-border " formControlName="detail"
                 placeholder="Enter Detail about Lecture">
        </div> <!-- recieved data by service -->
        <div class="panel-footer" style="height: 80px"> <!-- recieved data by service -->
          <div class="form-group" style="float: left">
            <label>Choose File</label>
            <input type="file" (change)="fileuploads($event)" multiple class="form-control no-border">
          </div>
          <button type="submit" class="btn-primary btn-sm setting; fa fa-upload" style="float: right; margin-top: 30px">
            Upload
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--</div>-->
<!--<div class="container" style="float: right">-->
<!--</div>-->
