<form [formGroup]="joinForm" >
  <div class="form-group">
    <div class="container">
      <div class="jumbotron" style="background-color: #0088cc">
        <!--<label class="col-sm-2">Create Course</label>-->
        <div class="col-sm-4">
        <input type="text" class="form-control" formControlName="coursename" placeholder="Enter Course Name">
        </div>
        <div class="col-sm-4">
        <input type="text" class="form-control" formControlName="coursecode" placeholder="Enter Course Code">
        </div>
        <div class="col-sm-3">
        <input type="text" class="form-control" formControlName="coursemarks" placeholder="Enter Course Marks">
        </div>
        <div class="col-sm-1" style="margin-top: 7px">
        <button class="btn btn-primary" (click)="login()">Create</button>
        </div>
      </div>
    </div>
  </div>
</form>
