
/*Style for Panel of classes joined*/
.container{
  margin-left: 100px;
  margin-top: 60px;
}
.panel-heading{
  height: 130px;
  text-align: center;
  /*background-image: url(../../../assets/download.jpg);*/
  background-color: #c9c9c9;
}
.panel-heading a{
  color: black;
}
.panel-body{
  height: 130px;
}
.panel-footer{
  height: 30px;
}

/*to display input-line instead of input-box*/
.form-control{
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
}
