<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="assets/lms.png"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
      <li><a routerLink="../home"><i class="fa fa-home">Home</i></a></li>
      <li><a routerLink="../student-view">Student</a></li>
      <li><a routerLink="../student">Add Student</a></li>
      <li><a routerLink="../student">Students</a></li>
      <li><a routerLink="../student-profile">Student Profile</a></li>
      <li><a routerLink="../teacher">Teacher</a></li>
    </ul>
    <button type="button" class="btn btn btn-default">
      <a class="fa fa-user" routerLink="../teacher-login">Teacher</a>
    </button>
    <button type="button" class="btn btn btn-default">
      <a class="fa fa-user" routerLink="../student-login">Student</a>
    </button>
  </div>
</nav>


<!--<nav class="navbar navbar-default" style="background-color: darkgreen">-->
  <!--<div class="container-fluid">-->
    <!--<div class="navbar-header">-->
      <!--<div class="container-fluid">-->
        <!--<a class="navbar-brand" routerLink="../home"><img src="assets/lms.png"-->
                                                          <!--style="height: 300%; width: 20%; margin-top: 5px">-->
        <!--</a>-->
        <!--<h1><p style="color: white; text-align: center">Wel Come To LMS</p></h1>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="container-fluid" style="border:1px solid">-->
      <!--<ul class="nav navbar-nav" style=" color:white; margin-top: 25px"> &lt;!&ndash;&ndash;&gt;-->
        <!--<li><a class="fa fa-user" style=" float: right; color: white; border: 1px solid; background-color: #08c"-->
               <!--routerLink="../teacher-login">Teacher</a></li>-->
        <!--<li><a class="fa fa-user"-->
               <!--style=" float: right; color: white; border: 1px solid; margin-left: 10px;background-color: #08c"-->
               <!--routerLink="../student-login">Student</a></li>-->

      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->


<!--<div class="container-fluid top-menu">-->
  <!--<div class="container inner-container">-->
    <!--<div class="row">-->
      <!--<div class="col-sm-6 most-inner text-left">-->
        <!--&lt;!&ndash;<div class="col-sm-6 most-most-inner" style="border: 1px solid">&ndash;&gt;-->
        <!--<a class="col-sm-6 image" href="#"><img src="../../assets/lms.png" style="width:90px; height: 40px"></a>-->
        <!--<h3 class="col-sm-6 most-most-inner text-uppercase">Wel Come to LMS</h3>-->
        <!--&lt;!&ndash;<a class="fa fa-user" routerLink="../home"><img src="../../assets/lms.png"></a>ABOUT&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-sm-6 most-most-inner" style="border: 1px solid"><h4>Wel Come To LMS</h4></div>&ndash;&gt;-->


      <!--</div>-->

      <!--<div class="col-sm-6 most-inner text-right">-->
        <!--&lt;!&ndash;<div class="col-sm-6 most-most-inner" style="border: 1px solid"> B</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-sm-6 most-most-inner" style="border: 1px solid">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-sm-6 link" style="border: 1px solid">&ndash;&gt;-->
        <!--&lt;!&ndash;<ul class="nav navbar-nav"> &lt;!&ndash;style=" float: right; color: white"&ndash;&gt;&ndash;&gt;-->
        <!--<button type="button" class="btn btn btn-default">-->
          <!--<a class="fa fa-user" routerLink="../teacher-login">Teacher</a>-->
        <!--</button>-->
        <!--&lt;!&ndash;style=" color:white; margin-top: 25px; background-color: #08c" &ndash;&gt;-->
        <!--&lt;!&ndash;style="color:white;margin-left: 5px; margin-top: 25px; background-color: #08c"&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a class=" widget-button btn btn-primary btn-small sign-up-button btn-text"></a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-sm-6 link" style="border: 1px solid">&ndash;&gt;-->
        <!--&lt;!&ndash;<ul class="nav navbar-nav"> &lt;!&ndash;style=" float: right; color: white"&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;style=" color:white; margin-top: 25px; background-color: #08c" &ndash;&gt;-->
        <!--<button type="button" class="btn btn btn-default">-->
          <!--<a class="fa fa-user" routerLink="../student-login">Student</a>-->
        <!--</button>-->
        <!--&lt;!&ndash;style="color:white;margin-left: 5px; margin-top: 25px; background-color: #08c"&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a class=" widget-button btn btn-primary btn-small sign-up-button btn-text"></a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<!--<nav class="navbar navbar-default" style="background-color: darkgreen">-->
<!--<div class="col-sm-3" style="border: 1px solid; background-color: crimson">-->
<!--</div>-->
<!--<div class="navbar-header">-->
<!--<a class="navbar-brand" routerLink="../home"><img src="assets/lms.png" style="height: 300%; width: 20%; margin-top: 5px"></a>-->
<!--</div>-->
<!--<div class="col-sm-3" style="border: 1px solid; background-color: crimson">-->
<!--&lt;!&ndash;<p >Wel Come To LMS</p>&ndash;&gt;-->
<!--</div>-->

<!--</nav>-->


<div class="container-fluid slider">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="https://source.unsplash.com/LAaSoL0LrYs/1920x1080" alt="LMS">
        <div class="carousel-caption">
          <h3>LMS</h3>
          <p>THE SMARTEST DIMENSION TO DIGITALLY PROFICIENT LEARNING</p>
        </div>
      </div>

      <div class="item">
        <img src="https://source.unsplash.com/bF2vsubyHcQ/1920x1080" alt="LMS">
      </div>

      <div class="item">
        <img src="https://source.unsplash.com/szFUQoyvrxM/1920x1080" alt="LMS">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

